extends layout

block title
    title Discord | Community Guidelines

block content
    .main-page#community-guidelines
        #landing-background
            img(src="/images/landing.jpg")
        header
            ol#header-menu
                li
                    a(href="/" id='home-link') Home
                li
                    a(href="/about" id='about-link') About Us
                li
                    a(href="/faq" id='faq-link') FAQ
        section.data-container
            div.data-block
                h3 Community Guidelines
                p Discord is a platform for fostering positive and engaging communication. Our community guidelines are designed to help create a safe and enjoyable space for everyone.
                h4 Be Respectful
                p Treat others with kindness and respect. Harassment, discrimination, or hate speech will not be tolerated.
            div.data-block
            div.data-block
                h4 Keep It Clean
                p Keep conversations appropriate for all audiences. Explicit or offensive content is prohibited.
            div.data-block
            div.data-block
                h4 No Spamming
                p Avoid spamming messages, voice channels, or invites. Keep communication clear and relevant.
            div.data-block
            div.data-block
                h4 Protect Privacy
                p Respect the privacy of others. Do not share personal information without consent.
            div.data-block
            div.data-block
                h4 Reporting Violations
                p If you encounter any violations of these guidelines, please report them to the moderators. We take all reports seriously and will act accordingly.
            div.data-block
            div.data-block
                h4 Consequences
                p Failure to adhere to these guidelines may result in account suspension or termination. We aim to maintain a safe and welcoming environment for all users.
            div.data-block
