extends layout

block title
    title Discord | Privacy Policy

block content
    .main-page#privacy-policy
        #landing-background
            img(src="/images/landing.jpg")
        header
            ol#header-menu
                li
                    a(href="/" id='home-link') Home
                li
                    a(href="/about" id='about-link') About Us
                li
                    a(href="/faq" id='faq-link') FAQ
        section.data-container
            div.data-block
                h3 Privacy Policy
                p Discord values your privacy and is committed to protecting your personal information. This Privacy Policy outlines what data we collect and how we use it.
                h4 Information We Collect
                p We collect various types of data to provide the best possible experience, including:
                ul
                    li Personal information such as username, email, and password.
                    li Usage data, such as interactions with channels, messages sent, and voice chat logs.
                    li Device information, including IP address, browser, and operating system.
            div.data-block
            div.data-block
                h4 How We Use Your Data
                p The data we collect is used to:
                ul
                    li Provide, maintain, and improve our services.
                    li Personalize your experience based on usage.
                    li Communicate with you about updates, features, and security.
            div.data-block
            div.data-block
                h4 Data Sharing and Security
                p We do not share your personal data with third parties, except when required by law or to fulfill contractual obligations. We implement industry-standard security measures to protect your data.
            div.data-block
            div.data-block
                h4 Data Retention
                p Your personal data will be retained for as long as you use the platform or as required by law. You can request to delete your data at any time.
            div.data-block
            div.data-block
                h4 Your Rights
                p You have the right to:
                ul
                    li Access and update your personal data.
                    li Request deletion of your personal information.
                    li Opt-out of certain data collection methods.
            div.data-block
            div.data-block
                h4 Changes to Privacy Policy
                p We may update our Privacy Policy from time to time. We will notify you of significant changes by posting a notice on our platform.
            div.data-block
