extends layout

block title
    title Discord | Terms of Service

block content
    .main-page#terms-of-service
        #landing-background
            img(src="/images/landing.jpg")
        header
            ol#header-menu
                li
                    a(href="/" id='home-link') Home
                li
                    a(href="/about" id='about-link') About Us
                li
                    a(href="/faq" id='faq-link') FAQ
        section.data-container
            div.data-block
                h3 Terms of Service
                p Welcome to Discord! By using our platform, you agree to comply with the following Terms of Service. If you don't agree, please refrain from using our services.
                h4 Introduction
                p Discord is a communication platform designed to facilitate voice, video, and text interactions. These Terms of Service outline the rights and responsibilities of users accessing and using our services.
            div.data-block
            div.data-block
                h4 Acceptable Use
                p You are permitted to use Discord for personal, non-commercial purposes. You may not use our platform for any illegal, harmful, or disruptive activities.
                ul
                    li No spam, trolling, or harassment.
                    li No sharing of explicit content or personal information.
                    li Do not engage in cyberbullying or targeted harassment.
            div.data-block
            div.data-block
                h4 Account Responsibility
                p You are responsible for maintaining the confidentiality of your Discord account credentials. Any unauthorized use of your account must be reported immediately.
            div.data-block
            div.data-block
                h4 Termination of Account
                p We reserve the right to suspend or terminate your account if you violate these Terms of Service. This includes any abusive, illegal, or inappropriate behavior.
            div.data-block
            div.data-block
                h4 Limitation of Liability
                p Discord is not responsible for any damages arising from the use or inability to use our platform. You agree to use our services at your own risk.
            div.data-block
            div.data-block
                h4 Modifications to Terms
                p Discord reserves the right to update or modify these Terms of Service at any time. Changes will be communicated to users via the platform.
            div.data-block
